name: Chai HTTP

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Test on node ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 18 # remove May 2025
          - 20 # remove May 2026
          - 22 # remove May 2027
          - x.x.x # safety net; don't remove
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node_version }}
      - run: npm ci
      - run: npm test
